$PROJECT_NAME_PARAM-darkblue: #1e456a;
$PROJECT_NAME_PARAM-blue: rgb(0, 153, 255);
$PROJECT_NAME_PARAM-green: #4bbabb;
$PROJECT_NAME_PARAM-pink: rgb(255, 128, 128);
$PROJECT_NAME_PARAM-yellow: rgb(195, 162, 84);
$grey: #999;
