<div class="container mx-auto my-20 max-w-3xl">
  <h1 class="text-3xl flex items-center">
    <span class="flex-grow"><%= t(".title") %></span>

    <%= link_to t("admin.shared.back"), :back, class: "ButtonClear ButtonClear--md ButtonClear--primary" %>
  </h1>

  <div class="rounded border border-neutral-200 shadow-sm mt-10 p-5 bg-white">
    <%= render partial: "form" %>
  </div>
</div>
