$project-name-param-darkblue: #1e456a;
$project-name-param-blue: rgb(0, 153, 255);
$project-name-param-green: #4bbabb;
$project-name-param-pink: rgb(255, 128, 128);
$project-name-param-yellow: rgb(195, 162, 84);
$grey: #999;
